---
import { Card, CardContent, CardFooter, CardHeader } from "@/components/ui/card"
// import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar"
// import { CalendarIcon, ThumbsUpIcon } from "lucide-react"
import type {Post} from "@domain/entities/post"

// interface Publication {
//   content: string
//   author: string
//   createdAt: string
//   popularity: number
// }

const token = Astro.cookies.get("token");
const response = await fetch('http://localhost:3000/posts',{
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
		'Authorization': `Bearer ${token?.value}`
	},
});
const publications: Post[] = await response.json();  
---
<section>
    {
        Astro.cookies.get("token") ?
        publications.length > 0 ?
        <h2>Publicaciones recientes</h2>
        <p>Hay {publications.length} publicaciones</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
      {publications.filter((pub: Post)=>pub.deleted === false).map((pub: Post, index: number) => (
        <Card key={index} className="flex flex-col">
          <CardHeader>
            <div class="flex items-center space-x-4">
              {/* <Avatar>
                <AvatarImage src={`https://api.dicebear.com/6.x/initials/svg?seed=${pub.authorId}`} />
                <AvatarFallback>{pub.authorId.toString().charAt(0)}</AvatarFallback>
              </Avatar> */}
              <div>
                <p class="text-sm font-medium">{pub.authorId}</p>
                {/* <p class="text-xs text-muted-foreground flex items-center">
                  <CalendarIcon className="mr-1 h-3 w-3" />
                  {pub.createdAt}
                </p> */}
              </div>
            </div>
          </CardHeader>
          <CardContent className="flex-grow">
            <p class="text-md">{pub.title}</p>
            <p class="text-xs">{pub.content}</p>
          </CardContent>
          {/* <CardFooter>
            <div class="flex items-center text-sm text-muted-foreground">
              <ThumbsUpIcon className="mr-1 h-4 w-4" />
              {`${(pub.popularity * 100).toFixed(1)}% popularidad`}
            </div>
          </CardFooter> */}
        </Card>
      ))}
    </div>
  	:
				<h2>No hay publicaciones recientes</h2>
				:
				<h2>Inicia sesión para ver las publicaciones recientes</h2>
			}
			
		</section>
